/* Your app custom styles here */
// app scope styles:
:root{

}

:root.theme-dark{

}

.ios{
  //button size

}

.md{
  
}

.aurora{

}

/*Home page feeds*/
.demo-card-header-pic .card-header{
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.demo-card-header-pic .card-content-padding .date{
    color: #8e8e93;
}

/*Social Page feeds*/
.demo-facebook-card .card-header {
    display: block;
    padding: 10px;
  }
  .demo-facebook-card .demo-facebook-avatar {
    float: left;
  }
  .demo-facebook-card .demo-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  .demo-facebook-card .demo-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
  }
  .demo-facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
  }
  .demo-facebook-card .card-content img {
    display: block;
  }
  .demo-facebook-card .card-content-padding {
    padding: 15px 10px;
  }
  .demo-facebook-card .card-content-padding .likes {
    color: #8e8e93;
  }


/* Panel size*/ 
.panel{
    min-width: 100px;
    max-width: 90vw;
}

/*avantar*/
.avantar{
  margin-top: 10%;
  height: 300px;
  width: 100%;
}


.avantar .portrait{
  //centre
  margin-left: auto;
  margin-right: auto;

  //aventar size
  width: 160px;
  height: 160px;
  background: url(../static/images/UserInfo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  //border
  border-radius: 50%;
  border: solid 3px #eece1a;
}

.avantar .user-name{
  //centre
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.side-panel .button-area{
  --f7-button-height: 30px;
}

/*flashcard*/
//card
.flashcard #card-area{
  width:300px;
  height:400px;
  margin:auto;
  margin-top:100px;
  border:3px solid #ABB7B7;
  border-radius:5px;
  position:relative;
  overflow:hidden;
}

.flashcard .card{
  width:300px;
  height:400px;
  margin: auto;
  position:absolute;
  text-align:center;
  line-height:200px;
  font-size:45px;
  color:#efefef;
  cursor:pointer;
}

//button
.flashcard #button-area{
  margin-top: 50px;
  --f7-button-height: 35px;
}

//final message
#finalMessage{
  text-align:center;
  font-size:30px;
  margin-top:30px;
  font-family:Montserrat,Arial;
 }

select option {
  background-color: #121212;
}
